<div class="maindashboard">
  <div class="dahsboard_center_bg">
    <div class="center_row w-row">
      <div class="w-col w-col-3">
        <h3 class="h3_dashboard_form">ההופעות הקרובות שלך</h3>
        <p class="subinfo_dashboard wider-width-subinfo">מרכז השליטה של ההופעות שלך.</p>
      </div>
      <div class="column-45 w-col w-col-9"></div>
    </div>
    <div class="center_dashboard_form w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="w-col w-col-4">
            <div class="your-event-dashboard">
              <h1 class="event-title-dashboard">שחר צדיק</h1>
              <div class="your-event-price">תל-אביב 17.8.18</div>
              <div class="your-event-price">50 ש&quot;ח</div>
            </div>
          </div>
          <div class="column-52 w-clearfix w-col w-col-8">
            <h1 class="heading-15">סיכום</h1>
            <p class="subinfo_dashboard light">כמה אורחים קנו/נרשמו? : 40</p>
            <p class="subinfo_dashboard light">מספר המקומות שנותרו: 10</p>
            <p class="subinfo_dashboard revenue">סה&quot;כ: </p><a href="#" class="add_dashboard_button edit-event w-button">ערוך ארוע</a></div>
        </div>
        <div class="last_buttons_div"><input type="submit" value="שמרו לי" data-wait="שמרנו!" class="submit_dashboard w-button"></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>