<div class="maindashboard">
  <div class="dahsboard_center_bg">
    <div class="center_row w-row">
      <div class="w-col w-col-3">
        <h3 class="h3_dashboard_form">אינבוקס </h3>
        <p class="subinfo_dashboard wider-width-subinfo">כאן יהיו כל ההודעות וההזמנות ממארחים לקיום ואירוח של הופעות.</p>
      </div>
      <div class="column-45 w-col w-col-9"></div>
    </div>
    <div class="center_dashboard_form w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form-10">
        <div class="inbox-row w-row">
          <div class="w-col w-col-2">
            <div class="user-round-image-inbox"></div>
          </div>
          <div class="w-col w-col-2">
            <div class="inbox-text message-name">שחר</div>
            <div class="message-date">לפני שעתיים</div>
          </div>
          <div class="column-54 w-col w-col-6">
            <div class="inbox-text start-of-message">היי! רציתי לדעת אם אוכל לארח אותך להופעה ב...</div>
            <h6 class="show-inquiry">Public show 29/9/17 , 20:30</h6>
          </div>
          <div class="w-col w-col-2">
            <div class="inbox-text">20%-80%</div>
            <div class="inquiry-model">Revenue share</div>
          </div>
        </div>
        <div class="inbox-row w-row">
          <div class="w-col w-col-2">
            <div class="user-round-image-inbox"></div>
          </div>
          <div class="w-col w-col-2">
            <div class="inbox-text message-name">Shachar</div>
            <div class="message-date">2 hours ago</div>
          </div>
          <div class="w-col w-col-6">
            <div class="inbox-text start-of-message">היי! רציתי לדעת אם אוכל לארח אותך להופעה ב...</div>
            <h6 class="show-inquiry">Public show 29/9/17 , 20:30</h6>
          </div>
          <div class="w-col w-col-2">
            <div class="inbox-text">20%-80%</div>
            <div class="inquiry-model">Revenue share</div>
          </div>
        </div>
        <div class="inbox-row w-row">
          <div class="w-col w-col-2">
            <div class="user-round-image-inbox"></div>
          </div>
          <div class="w-col w-col-2">
            <div class="inbox-text message-name">Shachar</div>
            <div class="message-date">2 hours ago</div>
          </div>
          <div class="w-col w-col-6">
            <div class="inbox-text start-of-message">היי! רציתי לדעת אם אוכל לארח אותך להופעה ב...</div>
            <h6 class="show-inquiry">Public show 29/9/17 , 20:30</h6>
          </div>
          <div class="w-col w-col-2">
            <div class="inbox-text">20%-80%</div>
            <div class="inquiry-model">Revenue share</div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>