/* Flex styles -------------------------------------------------*/
header {
    display: flex;
    align-items: center;
  }
  
  @media (min-width: 700px) {
   .leading {
      display: flex;
      align-items: center;
    }
  }
  
  
  /* Grid styles -------------------------------------------------*/
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  
  
  /* Generic styles ----------------------------------------------*/
   body {
    direction: rtl;
    font-family: 'Varela Round', sans-serif;
  } 
  
  
/*   
  @media (min-width: 700px) {
    .leading-bigtext {
      font-size: 140px;
    }
  } */
  
  /* .leading-text {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.4em;
  }
   */
  .cards {
    max-width: 960px;
    margin: 0 auto 30px;
  }
  
  .event-item {
    position: relative;
    
  }
  
  .article-img {
    height: 220px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .article-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    direction: rtl;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.3px;
    text-align: center;
    color: #f9f9f9;
    text-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
  }
  