<div class="maindashboard">
  <div class="dahsboard_center_bg">
    <div class="center_dashboard_form w-form">
      <form id="email-form" (ngSubmit)="onSubmit()" class="form-11" #form="ngForm">
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">שם אמן</h3>
            <p class="subinfo_dashboard">שם הבמה שלך. יופיע בפרופיל שלך וכל העולם יראה את זה. מומלץ להיות זהירים.</p>
          </div>
          <div class="column-53 w-col w-col-9">
            <input type="text" [(ngModel)]="artist.artist_first_name" placeholder="שם פרטי" name="firstName" #firstName="ngModel" class="dahsboard_field w-input">
            <span *ngIf="!firstName.value && firstName.touched" class="error"> Error First Name can't be Empty</span>

            <input type="text" [(ngModel)]="artist.artist_last_name" placeholder="שם משפחה" name="lastName" #lastName="ngModel" class="dahsboard_field w-input">
            <span *ngIf="!lastName.value && lastName.touched" class=" error"> Error Last Name can't be Empty</span>

          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">תמונת הקאבר שלך</h3>
            <p class="subinfo_dashboard">אנחנו נשתמש בתמונה הזו או כתמונת הקאבר שלך או שאולי נתלה אותה אצלנו.</p>
          </div>
          <div class="w-col w-col-9">
            <div class="image-upload">
                
                <div class="image-upload-icon" (click)="fileInput.click()">
                  <img bind-src="artist.artist_cover_photo" id="uploaded-image"alt="">
                <input type="file" name="image" (change)="onFileChange($event)" id="artist-main-image" #fileInput>
              </div>
              <div class="image-upload-text">לפה תגררו את התמונה שלכם.
                <br>או את הרכב של השכן שתופס לכם חנייה.</div>
            </div>
          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">הז&#x27;אנר שלך</h3>
            <p class="subinfo_dashboard">הקדשת חיים שלמים למוזיקה. ובסוף מכניסים אותך לתבניות. מבקשים סליחה מראש.</p>
          </div>
          <div class="w-col w-col-9">
            <div class="tag-field">
              <p class="subinfo_dashboard">
                <strong>למשל: אינדי, רוק, פולק. עד 4 תגיות</strong>
              </p>
              <div class="tags-holder">
                <div class="tag_dashboard">
                  <div class="tag_text">Acoustic</div>
                </div>
                <div class="tag_dashboard">
                  <div class="tag_text">Folk</div>
                </div>
                <div class="tag_dashboard">
                  <div class="tag_text">Rock</div>
                </div>
                <div class="tag_dashboard">
                  <div class="tag_text">Melodic</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">סוגי הופעות</h3>
            <p class="subinfo_dashboard">אילו סוגי הופעות תרצו לעשות? </p>
          </div>
          <div class="w-col w-col-9">
            <div class="event_types_div">
              <div class="row-12 w-row">
                <div class="column-38 w-col w-col-7">
                  <div class="checkbox_dasboard w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants" name="Bars-Restaurants" data-name="Bars &amp; Restaurants" class="checkbox-2 w-checkbox-input">
                    <label for="Bars-Restaurants" class="checkbox-label-3 w-form-label">ברים ומסעדות</label>
                  </div>
                  <div class="checkbox_dasboard w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-2" name="" data-name="Bars Restaurants 2" class="checkbox-4 w-checkbox-input">
                    <label for="Bars-Restaurants-2" class="checkbox-label-4 w-form-label">ארועים מיוחדים</label>
                  </div>
                </div>
                <div class="column-39 w-col w-col-5">
                  <div class="checkbox_dasboard w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-4" name="Bars-Restaurants-4" data-name="Bars Restaurants 4" class="checkbox w-checkbox-input">
                    <label for="Bars-Restaurants-4" class="checkbox-label w-form-label">ארועי חברה</label>
                  </div>
                  <div class="checkbox_dasboard w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-3" name="Bars-Restaurants-3" data-name="Bars Restaurants 3" class="checkbox-3 w-checkbox-input">
                    <label for="Bars-Restaurants-3" class="checkbox-label-2 w-form-label">הופעות סלון</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">תיאור ההופעה </h3>
            <p class="subinfo_dashboard">ספר/י עלייך ועל ההופעה שלך.
              <br>
            </p>
          </div>
          <div class="w-col w-col-9">
            <textarea id="field-4" name="field-4" maxlength="5000" placeholder="כתוב קומוניקט או תאר החוויה שהקהל יחווה בהופעה שלך."
              class="dahsboard_field w-input"></textarea>
          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">לינקים</h3>
            <p class="subinfo_dashboard">זה המקום להוסיף לינקים חשובים שלך. פייסבוק, ספוטיפיי..אנחנו רוצים שיהיו לך יותר עוקבים!</p>
          </div>
          <div class="w-col w-col-9">
            <div class="event_types_div">
              <div class="row-12 row12ver2 w-row">
                <div class="column-38 _38ver2 w-col w-col-4">
                  <div class="checkbox_dasboard social_checkbox w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-6" name="Bars-Restaurants-6" data-name="Bars Restaurants 6" class="checkbox-5 w-checkbox-input">
                    <label for="Bars-Restaurants-6" class="w-form-label">Facebook</label>
                  </div>
                </div>
                <div class="column-39 w-col w-col-8">
                  <input type="text" class="dahsboard_field social_field w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="http://www.facebook.com/users/447lr..."
                    id="field-2" required="">
                </div>
              </div>
              <div class="row-12 row12ver2 w-row">
                <div class="column-38 _38ver2 w-col w-col-4">
                  <div class="checkbox_dasboard social_checkbox w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-6" name="Bars-Restaurants-6" data-name="Bars Restaurants 6" class="checkbox-6 w-checkbox-input">
                    <label for="Bars-Restaurants-7" class="w-form-label">Spotify</label>
                  </div>
                </div>
                <div class="column-39 w-col w-col-8">
                  <input type="text" class="dahsboard_field social_field w-input" maxlength="256" name="field-2" data-name="Field 2" id="field-2"
                    required="">
                </div>
              </div>
              <div class="row-12 row12ver2 w-row">
                <div class="column-38 _38ver2 w-col w-col-4">
                  <div class="checkbox_dasboard social_checkbox w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-6" name="Bars-Restaurants-6" data-name="Bars Restaurants 6" class="checkbox-7 w-checkbox-input">
                    <label for="Bars-Restaurants-7" class="w-form-label">Instagram</label>
                  </div>
                </div>
                <div class="column-39 w-col w-col-8">
                  <input type="text" class="dahsboard_field social_field w-input" maxlength="256" name="field-2" data-name="Field 2" id="field-2"
                    required="">
                </div>
              </div>
              <div class="row-12 row12ver2 w-row">
                <div class="column-38 _38ver2 w-col w-col-4">
                  <div class="checkbox_dasboard social_checkbox w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-6" name="Bars-Restaurants-6" data-name="Bars Restaurants 6" class="checkbox-8 w-checkbox-input">
                    <label for="Bars-Restaurants-7" class="w-form-label">SoundCloud</label>
                  </div>
                </div>
                <div class="column-39 w-col w-col-8">
                  <input type="text" class="dahsboard_field social_field w-input" maxlength="256" name="field-2" data-name="Field 2" id="field-2"
                    required="">
                </div>
              </div>
              <div class="row-12 row12ver2 w-row">
                <div class="column-38 _38ver2 w-col w-col-4">
                  <div class="checkbox_dasboard social_checkbox w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-6" name="Bars-Restaurants-6" data-name="Bars Restaurants 6" class="checkbox-9 w-checkbox-input">
                    <label for="Bars-Restaurants-7" class="w-form-label">Bandcamp</label>
                  </div>
                </div>
                <div class="column-39 w-col w-col-8">
                  <input type="text" class="dahsboard_field social_field w-input" maxlength="256" name="field-2" data-name="Field 2" id="field-2"
                    required="">
                </div>
              </div>
              <div class="row-12 row12ver2 w-row">
                <div class="column-38 _38ver2 w-col w-col-4">
                  <div class="checkbox_dasboard social_checkbox w-clearfix w-checkbox">
                    <input type="checkbox" id="Bars-Restaurants-6" name="Bars-Restaurants-6" data-name="Bars Restaurants 6" class="checkbox-10 w-checkbox-input">
                    <label for="Bars-Restaurants-7" class="w-form-label">YouTube</label>
                  </div>
                </div>
                <div class="column-39 w-col w-col-8">
                  <input type="text" class="dahsboard_field social_field w-input" maxlength="256" name="field-2" data-name="Field 2" id="field-2"
                    required="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">סרטוני יו-טיוב</h3>
            <p class="subinfo_dashboard">3 לינקים של סרטוני יו-טיוב הכי טובים שלך.
              <br>
            </p>
          </div>
          <div class="w-col w-col-9">
            <div class="row-13 w-row">
              <div class="column-40 w-col w-col-3">
                <div class="video_div videoone"></div>
              </div>
              <div class="w-col w-col-9">
                <div class="video_desc_div">
                  <h4 class="h4_video_desc">רונה קינן - My Prison By The Sea - Rona Kenan</h4>
                </div>
              </div>
            </div>
            <div class="row-13 w-row">
              <div class="column-40 w-col w-col-3">
                <div class="video_div video_two"></div>
              </div>
              <div class="w-col w-col-9">
                <div class="video_desc_div">
                  <h4 class="h4_video_desc">רונה קינן וגידי גוב - הריקוד המוזר של הלב</h4>
                </div>
              </div>
            </div>
            <div class="row-13 w-row">
              <div class="column-40 w-col w-col-3">
                <div class="video_div video_three"></div>
              </div>
              <div class="w-col w-col-9">
                <div class="video_desc_div">
                  <h4 class="h4_video_desc">Rona Kenan - לנשום בספירה לאחור</h4>
                </div>
              </div>
            </div>
            <div class="add_link_row topmargin_adll_link w-row">
              <div class="w-col w-col-8">
                <input type="text" class="dahsboard_field w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="לינק לסרטון יו-טיוב שלך"
                  id="field-2" required="">
              </div>
              <div class="column-41 w-col w-col-4">
                <a href="#" class="add_dashboard_button w-button">הוסף וידאו</a>
              </div>
            </div>
          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">ספוטיפיי</h3>
            <p class="subinfo_dashboard">זה המקום להיות בו היום לא?
              <br>חוץ מפה כמובן!</p>
          </div>
          <div class="column-43 w-col w-col-9">
            <div class="add_link_row w-row">
              <div class="column-44 w-col w-col-9">
                <input type="text" class="dahsboard_field w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="לינק לשיר בספוטיפיי שלך"
                  id="field-2" required="">
              </div>
              <div class="column-41 w-col w-col-3">
                <a href="#" class="add_dashboard_button w-button">הוסף לינק</a>
              </div>
            </div>
          </div>
        </div>
        <div class="center_row w-row">
          <div class="w-col w-col-3">
            <h3 class="h3_dashboard_form">תמונות</h3>
            <p class="subinfo_dashboard">עד 3 תמונות.
              <br>זה לא פייסבוק פה.</p>
          </div>
          <div class="column-42 w-col w-col-9">
            <div class="pic_dahsboard_div first_pic"></div>
            <div class="pic_dahsboard_div second_pic"></div>
            <div class="pic_dahsboard_div third_pic"></div>
            <div class="add_pick_div">
              <img src="../images/add-1_1add-1.png" width="32">
            </div>
          </div>
        </div>
        <div class="last_buttons_div">
          <a href="#" class="button_dashboard_browse preview_version w-button">תצוגה מקדימה</a>
          <input type="submit" value="שמור שינויים" data-wait="ועל המלכה..." class="submit_dashboard w-button">
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
