.error {
  color: red;
  font-size: small;
}

#artist-main-image {
  display: none;
}

#uploaded-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.red-border  {

  border: 2px solid red;
  border-radius:  16px;
}
.image-upload-icon:hover{
  cursor: pointer;
}
.gender:hover{
  cursor: pointer;
}