h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
    }
    
    .grey-button {
        width: 139px;
        height: 35px;
        opacity: 0.2;
        border-radius: 4px;
        border: solid 2px #979797;
        display: block; 
        margin: 0 auto;
        font-size: 16px;
        margin-top:44px;
      
    }
    
    body {
     background-color: #fafafa;
    }
    
    
    
    
    @media only screen and (max-width: 450px) {
        h1 {
            font-size: 24px;
        }
    }