
<body class="artist-body body-5">
  <nav class="phone-menu-div w-hidden-main w-hidden-medium"><a href="index.html" class="phone-brand w-inline-block"></a>
    <div data-ix="show-phone-menu" class="menu-icon"></div>
    <div data-ix="phone-menu-init" class="menu-wrap-phone"><a href="#" class="phone-menu-link">Upcoming shows</a><a href="contact.html" class="phone-menu-link">The Project</a></div>
  </nav>
  <app-artist-profile-heroimage></app-artist-profile-heroimage>
 
  <app-artist-profile-hostshow></app-artist-profile-hostshow>
  
 <app-artist-profile-event-prefereance></app-artist-profile-event-prefereance>

 <app-artist-profile-about></app-artist-profile-about>

<app-artist-profile-media></app-artist-profile-media>






