<div class="about-artist-section">
  <h1 class="title-profile">על ההופעה</h1>
  <p class="info-text">Tomer Yeshayahu is a producer, singer-songwriter, a bozouki<br>player and one of the most unique artists in the current Israeli music landscape.</p>
  <div class="row-9 w-row">
    <div class="column-28 w-col w-col-4">
      <h1 class="social-headline">Website</h1><a href="#" class="social-link">tomeryeshayahu.com</a></div>
    <div class="column-28 w-col w-col-4">
      <h1 class="social-headline">Facebook</h1><a href="https://www.facebook.com/TomerYeshayahuMusic/" target="_blank" class="social-link">/Tomer Yeshayahu</a></div>
    <div class="column-28 w-col w-col-4">
      <h1 class="social-headline">Instegram</h1><a href="https://www.facebook.com/TomerYeshayahuMusic/" target="_blank" class="social-link">@Tomer Yeshayahu</a></div>
  </div>
</div>