
/* events grid - css grid container */

.events-grid-container {
    max-width: 960px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 260px 260px;
    grid-gap: 20px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
}

.upcoming-events-thumbnail {
    width: auto;
}